.teamForm {
    margin: 20px;
    padding: 25px;
    background: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontalBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 10px;
}

.BlueInputs, .RedInputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.teamForm label {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 40px;
    font-family: "Teko", sans-serif;
    text-align: center;
    width: 100%;
}

.teamForm input {
    padding: 5px;
    border: none;
    background: white;
    box-shadow: 0px 0px 5px rgba(255, 255, 0, 0.8);
    margin: 10px;
}

.teamForm button {
    padding: 10px;
    min-width: 30%;
    background: linear-gradient(70deg, rgb(255, 242, 142), rgb(129, 216, 136));
    font-size: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    margin: 10px;
}

.matchNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.allianceBoard {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.matchNav button {
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 45px;
    font-family: "Teko", sans-serif;
    min-width: 100px;
    text-align: center;
}

.matchNav button:hover {
    background: black !important;
    color: yellow !important;
}

.allianceEPAs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.allianceGraphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    margin-top: 0px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    justify-content: space-between;
    align-items: flex-start;
}

.graphContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.graphContainer h2 {
    font-family: "Teko", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.lineGraphContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.lineGraphContainer h2 {
    font-family: "Teko", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.lineGraphContainer svg {
    transform: translateX(0);
}

.RPs {
    display: flex;
    margin: 10px 40px;
    justify-content: space-around;
}

.RPs > div {
    display: inline-block;
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
    padding: 10px 5px;
    font-family: "Teko", sans-serif;
    font-size: 20px;
}

.RPs > div:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    background: #f0f0f0;
}
.RPs > div:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.matches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    justify-content: center;
}

.matches * {
    font-family: 'Teko', sans-serif;
}

.lightBorderBox {
    flex-grow: 1;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 10px;
}

.lightBorderBox h1, .lightBorderBox h2 {
    text-align: center;
    margin: 5px 0;
}

.lightBorderBox h1 {
    font-size: 45px;
    margin-bottom: 5px;
}

.lightBorderBox h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 15px;
}

.scoreBreakdownContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}

.EPABreakdown {
    display: flex;
    flex-direction: row;
}

.EPABreakdown div {
    text-align: center;
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px 5px;
    font-size: 24px;
    font-weight: bold;
}

.EPABreakdown div:first-child {
    border-bottom-left-radius: 10px;
}

.EPABreakdown div:last-child {
    border-bottom-right-radius: 10px;
}

.EPABox {
    padding: 15px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.EPABox::before {
    content: "EPA";
    display: block;
    position: relative;
    top: 0;
    width: 125px;
    left: 50%;
    transform: translate(-50%, calc(-50% - 10px));
    border: 1px solid black;
    background: white;
    padding: auto;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: -25px;
    font-size: 20px;
    font-weight: 800;
}

.chartContainer {
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 20px;
}

.barchartContainer {
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

.barchartContainer h2 {
    font-family: "Teko", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.lineGraphContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
}

.lineGraphContainer svg {
    transform: translateX(0);
}

.radarContainer {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

@media screen and (max-width: 1150px) {
    .MainDiv {
        margin: 0px;
    }
    
    .allianceGraphs {
        flex-direction: column;
        align-items: center;
    }
    
    .graphContainer, .lineGraphContainer {
        min-width: 90%;
        max-width: 90%;
    }
    
    .matches {
        flex-direction: column;
        align-items: center;
    }
    
    .lightBorderBox {
        min-width: 90%;
        max-width: 90%;
    }
}