.ClimbTable{
    table-layout: fixed;
    align-self: center;
    border-collapse: collapse;
}
.cell{
    border: 1px solid black;
    width: 55px;
}

.cell, .ClimbTable:first-child {
    border-left: white;
    border-top: white;
}