.VBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 110px;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    align-self: center;
    align-items: center;
    margin: auto;
}
.VBoxTitle {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    white-space: nowrap;
    border-bottom: 1px solid black;
    width: 110px;
}
.VBoxValue {
    margin-top: 4.5px;
}

.EPAS {
    display: flex;
    flex-direction: row;
    width: 1000px;
}
