@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

.MainDiv {
    background: black;
    color: white;
    padding: 5px 40px;
    padding-bottom: 50px;
    min-height: calc(100vh - 45px);
    font-family: "Belleza", sans-serif;
    justify-items: center;
    align-items: center;
}

.MatchInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    width: 350px;
    align-self: center;
    flex-wrap: wrap;
  }
.allMatchInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.Endgame {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-items: center;
}

.Table {
  flex-direction: column;
  justify-content: center;
}

.Table td {
  text-align: center; 
  padding-right: 19px; 
  position: relative; 
}

.Table td h2 {
  padding-bottom: 15px;
  position: absolute; 
  right: 0px;
  bottom: 15px;
  margin: 0px;
  margin-bottom: -22px;
}

.Table th {
  padding-right: 19px;
  margin-bottom: 20px;
}

.MainDiv h2 {
  text-align: center;
}

.HBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .HBox input {
    width: 60px;
  }
  .MainDiv button[type=submit] {
    background-color: #FFD900;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #ffa200;
    font-size: 30px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  .MainDiv button[type=submit]:hover {
    background-color: #fcec91;
  }
  
  .MainDiv button, .MainDiv input {
    font-family: 'Belleza', sans-serif;
  }

  .MainDiv label {
    font-size: 25px;
  }

  .Qual {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
  }

  .MainDiv input[type=checkbox] {
    justify-content: center;
  }

span.subsubheading {
  display: block;
  text-align: center;
  font-size: 25px;
}

hr.subsubheading {
  margin: 0px 20px;
  background-color: white;
}

.intakeBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  width: 350px;
  align-self: center;
}

.terrainBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  align-self: center;
}

.Auto {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
}

.AutoClimb {
  width: 350px;
  align-self: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.MainDiv input:focus,
.MainDiv textarea:focus {
    border-color: rgb(87, 171, 254);
    outline: none;
}
.MainDiv input:focus:invalid,
.MainDiv textarea:focus:invalid {
    border-color: rgb(184, 0, 0);
}

.defenseBox {
  display: grid;
  grid-template-columns: 180px 180px;
  align-self: center;
}

.defenseBox > :last-child {
  grid-column: 1 / -1;
  justify-self: center; 
}

.Tele {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PostMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
