.textarea {
    background-color: #cdf3ff;
    border-radius: 5px;
    caret-color: black;
    border: 2px solid #888484;
    width: 90%;
    height: 50px;
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}