.subHeader {
    text-align: center;
    margin: 8px 0px;
    font-size: 30px;
    width: 200px;
}

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line{
    width: 130px;
    justify-content: center;
    align-content: center;
}
