.subHeader {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    align-self: center;
    margin: -1px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}


/*.centered {
    width: 100%;
    display: flex;
    justify-content: center;
}

.line{
    width: 130px;
    justify-content: center;
    align-content: center;
}
*/